.product-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: 1em; */
    /* text-align: center; */
    row-gap: 2em;
    column-gap: .5em;
    grid-auto-rows: minmax(min-content, max-content);
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(700px, auto);
    /* text-align: center; */
    font-family: 'Courier New', Courier, monospace;

}