.search {
    text-align: left;
    height: 50px;
    margin-left: 10px;
}

.search > input {
    border: none;
    width: 20%;
    height: 80%;
    border-radius: 20px;
    font-size: 100%;
    background:rgb(236,238,240, .8);
    text-align: center;
    outline: none;
}

.search > input::placeholder {
    color: rgba(128, 128, 128, 0.5);
    letter-spacing: 1px;
}

.search > input:focus {
    background:rgb(215, 222, 230);
    color: rgba(128, 128, 128, 0.7);
}

.search > input:focus::placeholder {
    color: transparent;
}

.fa-search {
    position: relative;
    left: 30px;
    top: 2px;
    color: grey;
}