.sorts-list > div {
    cursor: pointer;
}

.sorts-list > div:hover:not(:first-child) span {
    background: black;
    color: white;
}

.sorts-list > div:first-child span {
    font-weight: bold;
}


.filter-active {
    background: rgba(128, 128, 128, 0.255);
}