

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(700px, auto);
    font-family: 'Courier New', Courier, monospace;
    margin: 40px 20px 10px 20px;
}

.homescreen-container{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
