.navbar {
    margin: 0px;
    padding: 0px;
    background-color: black;
    height: 55px;
    color: white;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.cart-amt {
    color: black;
    position: absolute;
    top: -1px;
    right: 71px;
}

.navbar > h1 {
    margin: auto;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.navbar a {
    color: inherit;
}


.fa-user-icon{
    float: right;
}

.fas {
    font-size: 30px;
    margin: 12px;
}

