.navbar {
    background-color: black;
    height: 40px;
    margin: 0px;
    color: white;
    display: flex;
}

.navbar > h1 {
    margin-left: 10px;
    margin-right: 5px;
}

.fa-shopping-cart{
    margin-left: 2px;
}

.fa-user-icon{
    float: right;
}

.fas {
    font-size: 25px;
}
